@media (max-width: 1670px) {
  .vertex__title.title {
    &::after {
      content: '';
      top: 70px;
    }
  }
}

@media (max-width: 1530px) {
  .virtex {
    display: block;
  }
  .vertex__content {
    margin: 0;
  }
  .vertex__title.title {
    text-align: center;
    &::after {
      content: '';
      top: 17px;
    }
  }
  .vertex__text {
    max-width: 100%;
  }
  .virtex__img {
    display: none;
  }
}

@media (max-width: 1200px) {
  .about {
    margin-bottom: 100px;
  }
  .school__top {
    display: block;
  }
  .school__item {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .gallery__filter-btn {
    text-align: center;
  }
  .gallery__content {
    grid-template-columns: 270px 270px;
    gap: 30px;
    justify-content: center;
  }
  .connection__text-inner {
    padding-right: 57px;
  }
}

@media (max-width: 1100px) {
  .title {
    font-size: 40px;
  }
  .about__content {
    justify-content: center;
  }
  .about__content-left {
    margin-right: 0;
  }
  .school__bottom {
    display: block;
  }
  .school__bottom-left {
    margin-bottom: 30px;
  }
  .team__inner {
    justify-content: center;
    flex-wrap: wrap;
  }
  .team__item {
    margin-right: 10px;
  }
  .services__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .services__item {
    margin-bottom: 70px;
  }
}

@media (max-width: 880px) {
  .header {
    margin-bottom: 100px;
  }
  .header__top {
    display: flex;
    justify-content: space-between;
  }
  .menu {
    max-width: none;
    margin: 0;
  }
  .menu__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    background-color: rgba(51, 51, 51, 0.7);
    display: block;
    text-align: center;
    transform: translateY(-200%);
    transition: all .5s;
  }
  .menu__list.menu__list--active {
    transform: translateY(0);
  }
  .menu__item + .menu__item {
    margin-left: 0;
  }
  .menu__link {
    display: block;
    padding: 15px 0;
    color: #fff;
    border-bottom: 5px solid #00B2A0;
    &:hover {
      border-bottom: 5px solid #00B2A0;
    }
  }
  .menu__btn {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .title {
    font-size: 30px;
    margin-bottom: 50px;
    &::after {
      content: '';
      background: none;
    }
  }
  .school__bottom {
    margin-bottom: 100px;
  }
  .vertex {
    margin-bottom: 100px;
  }
  .gallery__content {
    gap: 20px;
  }
  .gallery__add {
    margin-bottom: 100px;
  }
  .blockquote {
    margin-bottom: 100px;
  }
  .portfolio__video {
    margin-bottom: 100px;
  }
  .connection__desc {
    flex-wrap: wrap;
    margin-bottom: 70px;
  }
}

@media (max-width: 700px) {
  .header {
    height: 100vh;
  }
  .header__top {
    margin-bottom: 177px;
  }
  .header__title {
    font-size: 150px;
    line-height: 141px;
  }
  .portfolio {
    margin-bottom: 100px;
  }
  .blockquote__author {
    margin: 0;
  }
  .portfolio__numbers-item {
    font-size: 55px;
  }
}

@media (max-width: 610px) {
  .gallery__content {
    grid-template-columns: 350px;
  }
  .gallery__item--one {
    grid-column-start: span 1;
  }
  .blog-slider {
    padding-top: 230px;
  }
  .blog-slider__item-title {
    font-size: 35px;
    line-height: 43px;
  }
  .blog-slider__item-desc {
    margin-bottom: 155px;
  }
}

@media (max-width: 570px) {
  .header__title {
    font-size: 125px;
    line-height: 113px;
    margin-bottom: 120px;
  }
  .header__subtitle {
    font-size: 22px;
    line-height: 23px;
  }
  .title {
    line-height: 37px;
  }
  .gallery__btn {
    font-size: 20px;
    line-height: 16px;
  }
  .gallery__add {
    margin-bottom: 50px;
  }
  .portfolio__numbers {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .portfolio__numbers-item {
    margin-right: 25px;
  }
}

@media (max-width: 450px) {
  .header__title {
    font-size: 100px;
    line-height: 77px;
    margin-bottom: 120px;
  }
  .blockquote {
    font-size: 30px;
    line-height: 33px;
  }
}

@media (max-width: 400px) {
  .school__bottom-left {
    display: none;
  }
  .gallery__content {
    grid-template-columns: 300px;
  }
  .gallery__top {
    margin-bottom: 20px;
  }
  .gallery__btn {
    padding-bottom: 23px;
  }
}

@media (max-width: 370px) {
  .header__title {
    font-size: 83px;
    line-height: 64px;
    margin-bottom: 120px;
  }
}